<% title "Articles" %>
<% content_for :head do %>
  <link rel="canonical" href="spencermontgomery.com">
  <meta property="og:description" content="Spencer Montgomery blogs about <%= categories_list %>">
  <meta property="og:title" content="Articles | Spencer Montgomery">
  <meta property="og:type" content="website">
  <meta property="og:url" content="#">
  <% rel_next_prev_link_tags @posts %>
<% end %>
<section id="posts">
  <header class="main_head">
    <nav>
      <ul>
        <li class="active"><%= link_to 'articles', root_path %></li>
        <li><%= link_to 'categories', categories_path %></li>
      </ul>
    </nav>
  </header>
  <% if !@posts.blank? %>
    <% for post in @posts %>
      <article>
        <h1><%= link_to post.title, post %></h1>
        <p>Posted <%= post_published_time post %> in <%= post_category_link(post) %></p>
      </article>
    <% end %>
  <% else %>
    Sorry, no posts are available.
  <% end %>
  <footer class="home">
    <%= paginate @posts, :outer_window => 2, :inner_window => 1 -%>
  </footer>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44003912-1', 'spencermontgomery.com');
  ga('send', 'pageview');

</script>