<%- title "Categories" -%>
<%- content_for(:head) do -%>
  <meta name="description" content="Articles written by Spencer Montgomery about <%= categories_list %>">
  <link rel="canonical" href="<%= categories_url %>">
  <meta property="og:description" content="Articles by category: <%= categories_list %>. All written by Spencer Montgomery">
  <meta property="og:title" content="Categories | Spencer Montgomery">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= categories_url %>">
<%- end -%>

<section id="posts">
  <header class="main_head">
    <nav>
      <ul>
        <li><%= link_to 'articles', root_path %></li>
        <li class="active"><%= link_to 'categories', categories_path %></li>
      </ul>
    </nav>
  </header>
  <ul id="categories">
    <% for category in @categories %>
        <li class="<%= category.name %>">
          <%= link_to(category) do %>
            <%= category_title(category) %>
            <%= content_tag(:span, category.count, class: "category_count") %>
          <% end %>
        </li>
    <% end %>
  </ul>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44003912-1', 'spencermontgomery.com');
  ga('send', 'pageview');

</script>